<form [formGroup]="beerForm" novalidate>
    <fieldset>
        <legend>Beer</legend>
        <div>
            <label>Name</label>
            <input formControlName="name">
            <div class="error" *ngIf="beerForm.controls.name.errors?.required">
               Name is mandatory
            </div>
            <div class="error" *ngIf="beerForm.controls.name.errors?.minlength">
               Name is too short
            </div>
        </div>
        <div>
            <label>ABV</label>
            <input formControlName="abv" type="number">
        </div>
    </fieldset>
    <div>
        <button (click)="partialUpdate()">Partial update</button>
    </div>
    <div>
        <button (click)="fullUpdate()">Full update</button>
    </div>
</form>